.input-container {
    display: flex;
    align-items: center; /* Align input and eye icon in a row */
    padding: 2px;
    border-radius: 5px;
    width: fit-content;
}

.input-container input {
    border: none;
    outline: none;
    padding: 2px;
    flex: 1; /* Ensures input takes most of the space */
}

.toggle-visibility {
    cursor: pointer;
    margin-left: 20px; /* Space between input and icon */
}

.toggle-visibility i {
    font-size: 12px;
    color: #666; /* Adjust eye icon color */
}

.mask-wrapper {
    position: relative;
    width: 100%;
}

.mask-wrapper .masked-input {
    width: 100%;
    padding-right: 35px !important; /* space for eye icon */
}

.mask-wrapper .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 16px;
}

.mask-wrapper .eye-icon:hover {
    color: #111;
}
